@model _4_ValidationPractice.Models.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CollectUserInfo</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @*@Html.ValidationSummary()*@
        <p>What is your name? @Html.TextBoxFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</p>
        <p>How old are you? @Html.TextBoxFor(x => x.Age) @Html.ValidationMessageFor(x => x.Age)</p>
        <p>What is your address?</p>
        <p>Street: @Html.TextBoxFor(x => x.Address.Street) @Html.ValidationMessageFor(x => x.Address.Street)</p>
        <p>City: @Html.TextBoxFor(x => x.Address.City) @Html.ValidationMessageFor(x => x.Address.City)</p>
        <p>State: @Html.TextBoxFor(x => x.Address.State) @Html.ValidationMessageFor(x => x.Address.State)</p>
        <p>Zip: @Html.TextBoxFor(x => x.Address.Zip) @Html.ValidationMessageFor(x => x.Address.Zip)</p>
        <p><input type="submit" value="Submit" /></p>
    }
</body>
</html>
