@model _4_ValidationPractice.Models.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CollectedUserInfo</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div>
        <p>Thanks you for telling my about yourself @Model.Name. </p>
        <p>You are @Model.Age.</p>
        @if (@Model.Address.Street == null)
        {
            @: You did not tell me your address.
        } 
        else
        {
            <p> Your address is:</p>
    <p>@Model.Address.Street</p>
    <p>@Model.Address.City</p>
    <p>@Model.Address.State</p>
    <p>@Model.Address.Zip</p>
        }

    </div>
</body>
</html>
