@model SocialSiteV4.Profile

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{

    <div class="profile">
        <article>
            <h1>@(Model.AspNetUser.UserName)'s Profile</h1>
            <p><img class="profile-img" src="@Model.ProfileImage"/>
            </p>
            <h2>@(Model.AspNetUser.UserName)'s favorites:</h2>
            <p>@(Model.Favorite1Title): @(Model.Favorite1Data)</p>
            <p>@(Model.Favorite2Title): @(Model.Favorite2Data)</p>
            <p>@(Model.Favorite3Title): @(Model.Favorite3Data)</p>
        </article>
    </div>
    if (ViewBag.Edit == "true")
     {
         <div>@Html.ActionLink("Edit","Edit", "Profile", new {id = Model.Id }, null)</div>
     }
}
else
{
    <div>This profile has not yet been set up.</div>
}

@section Scripts {
}